{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'erp_app/css/style.css' %}" />

<html>
<head>
<title>OSERP - Open Source ERP</title>
</head>
<body>
<div class="left_side_margin">
	<div class="logo"><img src="http://i39.tinypic.com/jruw7b.png"></div>

	<div class="side_nav">
		<ul>
			<li>Home</li>
			<li>Customers</li>
			<li>Suppliers</li>
			<li>Employees</li>
			<li>Orders</li>
			<li>Invoices</li>
			<li>Expenses</li>
			<li>Reports</li>
			<li>Taxes</li>
		</ul>	
	</div>
</div>
</body>
</html>

